

 i.fa-heart{
    text-align: center;
    cursor: pointer;
    &:not(.fal){
        color: blue;
    }
}

.fig-BasicAccordion {
    .expansion-group{
        .expansionPanal-header {
            min-height: 36px;
            font-size: 0.95rem;
            //background-color:#cce0f8;
        }
        .fig-ac_favourite{
            flex:0 0 110px;
        }
        .fig-ac_displayname {
            flex:0 0 95px;
            color: gray;
        }
        .fig-ac_measure {

        }
        .fig-ac_performance{

        }
          
    } 
    
    .expansion-group-tablebody{
        .fig-ac_favourite{
           flex: 0 0 110px;
              padding-left: 8px;
        }
        .fig-ac_displayname {
            flex:0 0 95px;
        }
        .fig-ac_measure {
            .measure_description__wrapper {
                padding-right: 6px;
                font-size: 0.9rem;
                .icon_measure{
                    font-size: 26px;
                    padding: 0 4px;
                }
            }
        }
        .fig-ac_performance{

        }
        .ExpansionPanelSummary-tablebody {
            min-height: 60px;
        }
         .ExpansionPanel-tablebody{
                            box-shadow: none;
                        }
    }
}


// .tableHeaders {
//         position: relative ;
//         display: inline-block ;
//         width: auto ;
//         padding-left: 1rem ;
//         padding-right: 1rem ;
//         vertical-align: top ;
// }
// //.ui.grid>.ui.grid:first-child{
// //        margin-top: 1rem ;
// //}


//   .content.active {
//     padding-top: 0;
//     border-bottom: 1px solid #ebedf2;
//     border-left: 1px solid #ebedf2;
//     border-right: 1px solid #ebedf2;
//   }

// .accordionContainer {
//     width: 100% ;
//     .ui.accordion {
//         .title {
//             &.accordiontitle {
//                 padding: 0 ;
//                 &.active {
//                     .accordionGrid.accordionGrid__dataTable {
//                         border: 1px solid #ebedf2;
//                         >.column{
//                             &.fig-location:first-child, &.components{
//                                 padding-left: 1rem;
//                             }
//                         }
//                     }
//                 }
//             }  
                     
//             .dropdown.icon {
//                 font-family: Accordion;
//                 line-height: 1;
//                 backface-visibility: hidden;
//                 font-weight: 400;
//                 font-style: normal;
//                 text-align: center;
//                 margin-left: 0px;
//             }
//         }
//     }
//     .accordionGrid {
//         &.grid:not(.accordionGrid__dataTable){
//             margin: 0;
//             padding: 1rem 0 ;
//             > .column.accordion__mainheader {
//                 padding: 1rem .8rem;
//                 width: 9% ;
//                 color: #a2a2a2;
//                 &:first-child{
//                     padding-left: 0px;
//                 }
//                 @media (min-width: 1623px) {
//                     width: 9% ;
//                 }
//                 @media (min-width: 1300px) and (max-width: 1622px) {
//                     width: 8.6% ;
//                 }
//                 @media (min-width: 768px) and (max-width: 1300px) {
//                     width: 16.6% ;
//                     &:last-child {
//                         width: 60%;
//                         padding-left: 0;
//                     }
//                 }
//             }
//         }
//         &.accordionGrid__dataTable {
//             align-items: center ;
//             border-top: 1px solid #f1f2f6;
//             padding: .5rem 0;
//             margin: 0;
//             &:hover{
//                 background-color: #fbfbfb;
//             }
//             >.column  {
//                 position: relative ;
//                 display: inline-block ;
//                 padding:0 ;
//                 vertical-align: top ;
//                 &.fig-location:first-child{
//                     padding-left: 0px;
//                 }
//                 @media (min-width: 1623px) {
//                     &.fig-location  {
//                         width:9% ;
//                     }
//                     &.components   {
//                         width: 44% ;
//                     }
//                     &.accordion__dropdown{
//                         width: 2% ;
//                         text-align: center;
//                     }

//                 }
//                 @media (min-width: 1301px) and (max-width: 1622px) {
//                     &.fig-location  {
//                         width:8% ;
//                     }
//                     &.components   {
//                         width: 44% ;
//                     }
//                     &.accordion__dropdown{
//                         width: 2% ;
//                         text-align: center;
//                     }
//                 }
//                 @media (min-width: 768px) and (max-width: 1300px) {
//                     &.fig-location  {
//                         width:8% ;
//                     }
//                     &.components   {
//                         width: 65% ;
//                         padding-left: 0;
//                     }
//                     &.accordion__dropdown{
//                         width: 5% ;
//                         text-align: right;
//                     }
  
//                 }
//             }
//         }
//     }
// }


// .FigTableRow-header .expansionPanal-header {
//     background-color: transparent;
// }